* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Georgia", serif;
    overflow: hidden;
    height: 100vh;

    background: linear-gradient(
        135deg,
        #d95777,
        #f4a11f
    );

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.container {
    text-align: center;
    color: white;
    z-index: 10;
}

h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 25px;
    text-shadow: 0 0 30px rgba(255,255,255,0.3);
}

h1 span {
    color: #fff5f8;
}

.from {
    font-size: 1.5rem;
    margin-bottom: 60px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.2rem;
    border-radius: 50px;
    padding: 18px 50px;
}

.yes-btn {
    background: #ff1f8f;
    color: white;

    box-shadow:
        0 0 20px #ff1f8f,
        0 0 40px #ff1f8f;
}

.yes-btn:hover {
    transform: scale(1.08);
}

.no-btn {
    background: rgba(255,255,255,0.15);
    color: white;
    border: 2px solid white;
    position: relative;
}

.heart {
    position: absolute;
    bottom: -100px;
    animation: floatUp linear infinite;
    pointer-events: none;
}

@keyframes floatUp {

    from {
        transform: translateY(0);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    to {
        transform: translateY(-120vh);
        opacity: 0;
    }
}

.success-screen {
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        135deg,
        #ff5f9f,
        #ffaf45
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.success-screen h1 {
    font-size: 5rem;
}

.success-screen h2 {
    margin-top: 20px;
    font-size: 2rem;
}

.success-screen h3 {
    margin-top: 15px;
    font-size: 1.5rem;
}

@media (max-width:768px) {

    h1 {
        font-size: 2.3rem;
        padding: 0 15px;
    }

    .from {
        font-size: 1.1rem;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 220px;
    }
}